{% extends "base.html" %} {% block title %} Home {% endblock %}

{% block content %}
<h1> Product Page</h1>

<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" id ="buy" class="btn btn-secondary">Buy</button>
  <button type="button" id ="review" class="btn btn-secondary">Review</button>
  <button type="button" id ="logout" class="btn btn-secondary">Quit</button>
</div>

<table>
  <thead>
    <tr>
      <th>Product Name &nbsp;&nbsp;</th>
      <th>Quantity&nbsp;&nbsp;</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
  {% for value in result %}
   <tr>
      
       <td> {{ value["name"] }} </td>
       <td> {{ value["quantity"] }} </td>
       <td> {{ value["price"] }} </td>
   </tr>
  {% endfor %}
  </tbody>
</table>


<!-- <table>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Quantity</th>
    </tr>
    <tr>
      <td>Apple</td>
      <td>10.0</td>
      <td>10</td>
    </tr>
    <tr>
      <td>Banana</td>
      <td>10.0</td>
      <td>10</td>
    </tr>
  </table>  -->
{%endblock%}
